<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MVC architechture</title>
  </head>
  <body>
    <form method="post" action="/user">
      <label>name</label>
      <input type="text" placeholder="Enter your name" name="name" />
      <label>age</label>
      <input type="number" placeholder="Enter your age" name="age" />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
