<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Upload file, image etc</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
      <div>
        <input type="text" name="name" placeholder="Enter your name" />
      </div>
      <br />
      <div>
        <input type="file" name="image" />
      </div>
      <br />
      <button type="submit">Upload</button>
    </form>
  </body>
</html>
